/* #h1 {
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.h1-tag {
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: white;
} */


#email {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
}

#button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}



#rollNumber {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
}   

#campus {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
}   


#enterNumbers{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}